:root {
    --font-size-s: 14px;
    --font-size-m: 40px;
    --font-size-l: 40px;
    --line-height: 1.10em;
    --higlight-clr: #f7e300;
    --bg-clr: rgb(250, 250, 250);
    --main-clr: #9c9c9c;
    --highlight-clr: #FF00FF; 
}

@font-face {
    font-family: 'SourceSerifPro-Bold';
    src: url(fonts/SourceSerifPro-Bold.ttf);
    }

    @font-face {
        font-family: 'SourceSerifPro-Regular';
        src: url(fonts/SourceSerifPro-Regular.ttf);
        }

* {
    padding: 0;
    margin: 0;
    font-family: 'SourceSerifPro-Regular', Serif;
    font-weight: 400;
    box-sizing: border-box;
}

input,
button,
textarea,
select {
    font: inherit;
}

/* html, body {
    height: 100%;
} */

body {
    margin: 2em;
    background-color: var(--bg-clr);
}

.center-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 92vh;
    box-sizing: border-box;
  }

p {
    font-size: var(--font-size-m);
    color: var(--main-clr);
    width: fit-content;
}

a {
    color: darkslategrey;
}

.small {
    font-size: var(--font-size-s);
    font-family: sans-serif;
}

#promptArea {
    /* flex-basis: 50%; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 200px;
    width: 80%;
}

#prompt {
    line-height: 0.98em;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

#drawingArea {
    background-color: white;
    border: 2px solid lightgray;
    display: block;
    clear: both;
}

#drawingArea:focus,
#drawingArea:active {
    border: 2px solid var(--main-clr);
}

#palette {
    margin-top: 1rem;
    width: 300px;
    height: 1.8rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex: none;
}

#palette p {
    font-size: var(--font-size-s);
    width: fit-content;
}

#clear {
    height: 100%;
    padding: 3px 10px 3px 10px;
    font-size: var(--font-size-s);
    font-family: sans-serif;
    width: fit-content;
    border-radius: 8px;
    background: #f0efef;
    color: #969696;
    border: none;
}

#clear:hover {
    background: #969696;
}

#selColor {
    height: 100%;
    width: 5rem;
    font-size: var(--font-size-s);
    color: var(--main-clr);
    border-radius: 8px;
    font-family: sans-serif;
}

#confirm {
    font-size: 3rem;
    text-decoration: none;
    margin-top: 5rem;
    margin-bottom: 1em;
    cursor: pointer;
}

.footer {
    position: absolute;
    bottom: 2rem;
}