doctype
html
    head
        title="A story of our idea of an object"
        link(rel="stylesheet", href="css/story.css")

    body
        h1 The story of an Object's essence
        p The text will come in here.

        .image-gallery
            each image in images
                .image-container
                    img(src=image)