:root {
    --font-size-s: 14px;
    --font-size-m: 20px;
    --font-size-l: 52px;
    --line-height: 1.10;
    --higlight-clr: #f7e300;
    --bg-clr: black;
    --main-clr: grey;
    --highlight-clr: #FF00FF;
    --flow-space: 1em;
}

@font-face {
    font-family: 'lunchtype22regular';
    src: url('fonts/lunchtype22-regular-webfont.eot');
    src: url('fonts/lunchtype22-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/lunchtype22-regular-webfont.woff2') format('woff2'),
         url('fonts/lunchtype22-regular-webfont.woff') format('woff'),
         url('fonts/lunchtype22-regular-webfont.ttf') format('truetype'),
         url('fonts/lunchtype22-regular-webfont.svg#lunchtype22regular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'lunchtype22medium';
    src: url('fonts/lunchtype22-medium-webfont.eot');
    src: url('fonts/lunchtype22-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/lunchtype22-medium-webfont.woff2') format('woff2'),
         url('fonts/lunchtype22-medium-webfont.woff') format('woff'),
         url('fonts/lunchtype22-medium-webfont.ttf') format('truetype'),
         url('fonts/lunchtype22-medium-webfont.svg#lunchtype22medium') format('svg');
    font-weight: normal;
    font-style: normal;
}

html {
    font-family: 'lunchtype22regular';
    font-size: 16px;
    color: white;
}

/* Box sizing rules */
*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing:    border-box;
    -ms-box-sizing:     border-box;
    -o-box-sizing:      border-box;
    box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
    padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

/* Set core body defaults */
body {
    padding: 1.5em;
    height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: var(--line-height);
    background-color: var(--bg-clr);
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
    list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
    max-width: 100%;
    max-height: 100%;
    display: block;
}

input,
button,
textarea,
select {
    font: inherit;
}

@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

* {
    padding: 0;
}


h1 {
    font-size: var(--font-size-m);
    margin-bottom: 2em;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    background-color: white;
    color: var(--bg-clr);
}

.story-wrapper {
    height: 100%;
    display: grid;
    grid-template-rows: max-content minmax(400px, 2fr) minmax(400px, 1fr) max-content;

}

.narrative-text {
    font-size: var(--font-size-l);
    position: absolute;
    opacity: 0;
}

.narrative-text.active {
    opacity: 1;
    transition: opacity 2500ms ease-in-out;
    animation-delay: 2s;
}

footer {
    font-size: var(--font-size-s);
    padding-top: 1em;
    align-self: flex-end;
    opacity: 0.2;
}

.image-display {
    justify-self: center;
    align-self: center;
}

#image-container {
    max-width: 100%;
    max-height: 100%;
    width: 400px;
    height: 400px;
    background-size: contain;
    opacity: 0;
    transition: opacity 600ms ease-in-out;
    background-color: white;
    margin-bottom: 1em;
}

#image-container.active {
    transition: opacity 600ms ease-in-out;
    opacity: 1;
}

#shapeNavigation {
    position: fixed;
    bottom: 2em;
    right: 2em;
    width: 10vw;
    height: 10vw;
}

.navSvg path {
    fill: none;
    fill-opacity: 0;
    fill: white;
    stroke: white;
    stroke-width: 2;
    transition: fill-opacity 300ms ease-in-out;
}

.navSvg path:hover {
    fill-opacity: 1;
}

/******** NAVIGATION SHAPES ***********/

#shape-1 path {
    d: path("M59.49,125c-.59,0-.65,0-3.48-15.92-1.07-6-2.27-12.8-2.56-13.5-.19-.23-.58-.87-1.73-2.72-.46-.76-1-1.64-1.31-2.12-.67.56-2.23,2-3.53,3.14-3.48,3.16-4.05,3.71-4.38,3.66-.44.1-2.23.6-3.69,1-4.24,1.18-4.24,1.18-4.48,1s-.23-.17-.41-5.07c-.06-1.68-.13-3.74-.18-4.23l-1.82-2.23-1.32-1.6c-.34-.14-1.7-.61-2.81-1-3.32-1.15-3.32-1.15-3.44-1.29-.33-.39-.33-.39,4.59-6,1.51-1.73,3.32-3.8,4.07-4.73l-3.48-.62A34.78,34.78,0,0,1,25,71.94h0c-.3-.15-3.18-1-5.5-1.67-6.31-1.85-6.31-1.85-6.42-2.18s-.08-.28,2.36-3.67c.71-1,1.56-2.18,1.95-2.74-1.07-.6-4.61-2.36-7.77-3.93C0,53,0,53,0,52.53s0-.48,9.16-2.39c3.05-.64,6.43-1.34,7.72-1.66-.63-.86-2.12-2.79-3.46-4.52-4.19-5.44-4.19-5.44-4.11-5.74.16-.58.16-.58,12.67,2.69,4.14,1.08,8.72,2.28,10.69,2.73-1.36-1.76-4.89-6-8.07-9.89-9.43-11.44-9.43-11.44-9.07-11.87s.35-.41,11.94,6.38c4,2.34,8.39,4.93,10.08,5.84-.23-1.18-.73-3.5-1.15-5.46-1.09-5.06-1.37-6.37-1.3-6.79h0c.08-.3.44-3.33.73-5.76.76-6.39.76-6.39,1.06-6.53s.44-.2,7.15,8.32c2.64,3.36,5.62,7.14,6.23,7.79l2.35.11,1.91.1c.35-1.3,1.49-7,2.51-12.07C59.8,0,59.8,0,60.34,0c.2,0,.2,0,4.27,2.8,1.46,1,3.1,2.14,3.47,2.38l1.77.12,6,.41c.59.09.59.09-.78,13.18-.46,4.37-1,9.2-1.1,11.16,1.22-1.09,3.84-3.56,6.22-5.79,7.39-7,7.39-7,7.79-6.73s.51.31-5.78,13.31c-2.25,4.63-4.75,9.81-5.5,11.54l1.93-.24a27.08,27.08,0,0,1,2.78-.31h0c.33,0,3.3-.8,5.69-1.42,4.45-1.15,5.73-1.49,6.19-1.47h0c.52,0,5.61-.8,10.12-1.52,11.15-1.78,11.15-1.79,11.36-1.36s.26.5-11.27,8.45c-4,2.77-8.5,5.85-10.13,7.07,1.34.26,4.11.73,6.45,1.12,6.13,1,7.57,1.29,7.93,1.54h0c.23.2,2.73,1.85,4.73,3.17,5.35,3.52,5.35,3.52,5.34,3.84,0,.57,0,.57-15.44,2.65-5.23.71-11,1.49-13.14,1.84.76.62,2.07,1.65,3.19,2.53a44.27,44.27,0,0,1,4,3.29h0c.3.36,4.29,3.64,7.8,6.53,8.4,6.91,8.4,6.91,8.19,7.34s-.15.29-6.85.89c-2.7.24-5.77.52-6.08.59h0c-.52,0-2.42-.86-11.3-5-3.58-1.68-7.53-3.54-9.43-4.39C80.48,80,85.33,86.85,89.7,93c12,16.82,11.92,16.94,11.84,17.32l0,.19-.17.11-7.8,4.19c-.06,0-.08,0-5,1.59l-3.33,1c-.44.19-.44.18-8.15-10.26-2.68-3.64-5.67-7.68-6.83-9.16-.31,1.23-.9,3.78-1.4,5.93-1.25,5.39-1.59,6.84-1.83,7.25h0c-.21.29-1.9,3.6-3.39,6.51C59.85,125,59.85,125,59.49,125Z");
}

#shape-2 path {
    opacity: 1;
    transition: opacity 800ms ease-in-out;
    d: path("M58.35,0c.24,0,6.93,4.59,7.17,4.61s7,.49,7.24.52c.66.1-1.55,22.14-1,22.38S84.8,16,85.23,16.24c.62.37-10,22.43-9.44,22.94.09.09,4.84-.5,4.93-.4s10.66-2.43,10.85-2.17c.33.44,19-2.48,19.28-2S91.56,48.87,91.72,49.57c.09.38,13.44,2.69,13.47,3.1s8.87,6.16,8.87,6.48c0,.68-25.86,4.25-26,4.88,0,.23,7,5.76,6.89,6-.14.45,14.09,12.24,13.89,12.66-.13.26-11.33,1.29-11.48,1.53-.29.46-19.43-8.48-19.79-8.08-.62.69,20.37,30.46,19.56,30.93l-7.2,3.88c-.17.08-7.49,2.39-7.67,2.46C81.74,113.61,68.55,95.85,68,96c-.32.07-3.21,12.34-3.53,12.37s-6.59,12.17-6.94,12.16c-1.07,0-5.8-25.94-6.75-26.28-.2-.07-3.07-4.69-3.26-4.78s-7.31,6.12-7.62,5.93S32.66,97.15,32.44,97s-.57-8.24-.8-8.45-3-3.64-3.13-3.76-5.6-2.06-5.75-2.23c-.32-.37,7.84-9.78,7.58-10.2-.15-.26-7.74-1.6-7.86-1.87S11.93,67,11.8,66.62s3.93-5.87,3.87-6.13C15.53,59.84,0,52,0,51.34c0-.45,15.24-3.69,15.31-4.12s-7-9.47-6.87-9.78c.16-.62,21.34,4.84,21.63,4.28S14.47,21.61,15,21.07,35,32,35.52,31.6c.27-.2-2.14-11.58-1.85-11.75s1.56-10.8,1.84-10.93C36,8.71,47.41,23.11,47.92,23c.12,0,4.29.17,4.4.15C53,23,57.66,0,58.35,0Z");
}

#shape-3 path {
    opacity: 1;
    transition: opacity 800ms ease-in-out;
    d: path("M56.16,117.18c-.94,0-1.91-3-4.53-12.68-1.23-4.56-2.77-10.24-3.36-10.69-.18-.06-.37-.29-1.81-2.35-.47-.69-1.11-1.6-1.36-1.91a34.91,34.91,0,0,0-3.25,2.31c-3.16,2.39-3.69,2.72-4.08,2.49h0c-.22,0-1.9.35-3.13.6-3.06.63-3.59.7-3.85.51s-.38-.8-.74-4.26a31.94,31.94,0,0,0-.48-3.58c-.06,0-.57-.64-1.74-2.05-.52-.63-1.11-1.34-1.19-1.41s-1.39-.59-2.39-1c-2.32-.92-2.79-1.12-2.93-1.29-.36-.42.07-1.16,3.06-5.31a40.72,40.72,0,0,0,2.94-4.38c-.49-.2-2-.58-3.17-.86-3.22-.8-3.77-1-3.91-1.29s-2.65-1.1-4.4-1.76c-4.29-1.59-5.12-2-5.24-2.37s0-.59,1.7-3.27c.59-1,1.39-2.25,1.53-2.63a61.08,61.08,0,0,0-6.28-4C1.7,52.51,0,51.4,0,50.75S.62,50,7.16,48.14c2.47-.7,5.51-1.55,6.24-1.92-.32-.62-1.65-2.55-2.74-4.13-2.91-4.2-3.16-4.67-3.08-5,.18-.63,1.14-.61,10.23,1.09a81,81,0,0,0,9.07,1.43c-.42-1.1-3.51-5.41-6-8.92C15,22.53,14.05,21,14.51,20.47s1.44-.11,10.08,4.2a88.28,88.28,0,0,0,8.77,4.08c0-.75-.35-3.07-.61-4.82-.7-4.71-.74-5.44-.47-5.69a45.29,45.29,0,0,0,.93-4.59c.83-4.72,1-5.16,1.28-5.3.48-.22,1.13.32,6.39,6.15C43.09,17,45.83,20,46.42,20.28c.17,0,.62,0,2.12,0,.68,0,1.5.05,1.79,0,.49-.69,1.82-5.58,2.89-9.52C55.73,1.62,56.29,0,57,0c.23,0,.62.22,3.72,2.19C62,3,63.51,4,63.75,4.07c.06,0,.61,0,1.4.09,2.66.19,5.07.36,5.27.39.65.1.77,1.08.48,10.52a80.67,80.67,0,0,0,0,9.3c.82-.45,3.54-2.68,5.75-4.5,5.69-4.68,6.37-5.1,6.81-4.84.62.37.09,2-3.52,11.08-1.54,3.88-3.45,8.65-3.57,9.78.4,0,1.24-.07,1.89-.12,1.9-.13,2.3-.15,2.47,0A43.84,43.84,0,0,0,85.3,35c4.38-.83,5.06-.91,5.31-.66.64.18,4.81-.21,8.18-.52,8.14-.75,9.09-.71,9.32-.24.31.62-.93,1.77-8.34,7.68-3.22,2.56-7.17,5.72-7.84,6.63.73.31,3.33.94,5.46,1.45,5.45,1.32,6.24,1.59,6.35,2,.27.33,2.13,1.72,3.63,2.83,3.81,2.84,4.17,3.18,4.17,3.52,0,.64-1.2,1-12.13,3.2-4.25.84-9.45,1.87-10.63,2.37.46.48,1.72,1.6,2.68,2.44,2.75,2.43,3.12,2.82,3.1,3.1a73,73,0,0,0,5.73,5.61c5.82,5.41,6.28,6,6.06,6.43-.15.29-.38.38-5.55,1.11-2,.28-4.4.62-4.83.78-.37.38-1.59,0-9.44-3.11-3.26-1.29-7.24-2.88-8.34-3.09.42,1.49,4.49,8.08,7.8,13.43,5.75,9.31,8.25,13.48,8,14.38a.44.44,0,0,1-.22.29c-.24.15-6.32,3.42-6.63,3.57-.14.07-1.23.43-4.25,1.4-1.31.43-2.67.87-2.79.92-.51.21-1.24-.47-7.25-7.67-2.4-2.88-5.34-6.41-6.22-7.13-.32.73-1,3.07-1.57,5-1.49,5.1-1.74,5.7-2.07,5.8-.37.38-1.87,3-3.07,5C56.9,116.73,56.56,117.18,56.16,117.18Zm23.7-7.34h0Z");
}

#shape-4 path {
    opacity: 1;
    transition: opacity 800ms ease-in-out;
    d: path("M54.5,113.25c-1.2,0-2.53-3.55-5.07-11.07-1.37-4-3.07-9.06-3.81-9.33-.25-.09-.63-.56-1.79-2.12A20,20,0,0,0,42.42,89a21.09,21.09,0,0,0-3.09,1.88c-2.64,1.75-3.41,2.19-3.83,1.94a20.72,20.72,0,0,0-2.93.35c-2.5.4-3.27.48-3.55.27s-.48-1.07-.9-3.86a21.07,21.07,0,0,0-.63-3.25c-.14-.11-.75-.84-1.68-1.93-.5-.6-1-1.22-1.13-1.32a23.69,23.69,0,0,0-2.2-1,11.19,11.19,0,0,1-2.67-1.28c-.43-.49.29-1.76,2.3-5,.94-1.51,2.36-3.78,2.28-4.21a24.39,24.39,0,0,0-2.92-1c-2.57-.77-3.34-1-3.5-1.38A23.43,23.43,0,0,0,14,67.31c-3.18-1.37-4.49-2-4.65-2.47-.11-.33.2-1,1.37-3.08A17.38,17.38,0,0,0,12,59.23c-.14-.48-3.23-2.56-5.48-4.07C2.09,52.16,0,50.66,0,49.87c0-.6,1.32-1.12,6.16-2.74a34.62,34.62,0,0,0,5.44-2.07,36.52,36.52,0,0,0-2.33-3.9c-2.1-3.29-2.65-4.24-2.55-4.63.21-.76,2.21-.61,9,.29,3.22.43,7.63,1,8.12.66.1-.61-2.76-5.06-4.86-8.3-4.27-6.63-5.52-8.79-5-9.41s2.51.18,9.15,3.1c3.09,1.35,7.28,3.2,8.05,3.11a29.76,29.76,0,0,0-.27-4.39c-.41-4.08-.42-4.89,0-5.12a35.71,35.71,0,0,0,1-4C32.71,8.69,33,7.9,33.3,7.74c.58-.28,1.87.9,6,5.06,2,2,4.69,4.73,5.23,4.8a16.29,16.29,0,0,1,2,0c.69,0,1.57,0,1.69,0,.51-.31,2-4.9,3.09-8.25C53.63,2.22,54.48,0,55.28,0c.29,0,1,.43,3.46,1.88A32.09,32.09,0,0,0,61.57,3.5l1.29.1c2.32.17,4.61.33,4.87.37.8.13,1,2.18,1.11,9.19.07,3.23.16,7.63.58,8.22.61-.11,3.4-2.18,5.45-3.71,4.42-3.3,5.79-4.21,6.31-3.89.72.43.08,2.74-2.37,10-1.17,3.42-2.75,8.07-2.55,8.87.29,0,1.14,0,1.79,0,1.84-.06,2.11-.05,2.28.13a33.29,33.29,0,0,0,4.09-.46c3.8-.55,4.56-.59,4.81-.26.43.3,4.39.12,7.28,0,6.16-.28,8-.27,8.3.32s-1.31,2.37-6.88,7.29C95.24,42,91.57,45.24,91.38,46a30.54,30.54,0,0,0,4.83,1.63c4.29,1.26,5.46,1.68,5.51,2.21a33.18,33.18,0,0,0,3.12,2.68c2.82,2.27,3.58,2.95,3.58,3.35,0,.81-2.36,1.51-10.47,3.49-3.84.94-8.59,2.1-9.28,2.66A28,28,0,0,0,91,64.38c2.34,2.25,2.67,2.64,2.57,3,.09.46,2.78,3.19,4.75,5.18,4.41,4.46,5.25,5.46,5,6-.16.33-.94.53-4.89,1.23a31.65,31.65,0,0,0-4.28.9c-.32.53-2.09,0-8.45-2.17-2.91-1-6.87-2.38-7.57-2.28-.19,1,3.39,7.45,6,12.2C89.45,98,91,101.05,90,101.59c-.29.18-5.66,3.07-6,3.26-.2.1-1.66.58-3.86,1.3-1.18.4-2.41.8-2.55.86-.62.26-2.08-1.2-6.79-6.38-2.19-2.41-5.17-5.69-5.91-6A39.06,39.06,0,0,0,63.24,99c-1.43,4.24-1.76,5-2.2,5a45,45,0,0,0-2.91,4.31C55.55,112.43,54.94,113.25,54.5,113.25ZM61,103.46h0ZM101.12,49.9Z");
}

#shape-5 path {
    opacity: 1;
    transition: opacity 800ms ease-in-out;
    d: path("M52.84,109.33c-1.46,0-3.18-3.76-5.64-9.46-1.53-3.58-3.28-7.64-4.27-8-.28-.1-.77-.67-1.73-1.85a12.59,12.59,0,0,0-1.39-1.57c-.32-.12-1.93.77-3,1.37-2.13,1.18-3.12,1.67-3.59,1.39a11.33,11.33,0,0,0-2.72.11c-2,.2-2.93.26-3.25,0s-.62-1.31-1.07-3.46a12.64,12.64,0,0,0-.8-2.94c-.18-.16-.78-.85-1.6-1.82-.48-.55-.93-1.08-1.05-1.2a16.72,16.72,0,0,0-2-1,11.3,11.3,0,0,1-2.42-1.29c-.48-.57.27-2.13,1.54-4.63.73-1.43,1.82-3.59,1.59-4a12.58,12.58,0,0,0-2.63-1.15c-2-.72-2.9-1.1-3.09-1.49s-2-1.29-3.47-2c-2.4-1.21-3.88-2-4.07-2.57-.12-.38.23-1.17,1.05-2.89a11.32,11.32,0,0,0,1-2.4c-.14-.66-2.54-2.52-4.66-4.16C2.09,51.63,0,49.94,0,49c0-.68,1.58-1.39,5.17-2.85C7,45.4,9.63,44.3,9.77,43.88a20.29,20.29,0,0,0-1.88-3.65c-1.51-2.61-2.15-3.81-2-4.26.24-.88,2.55-.84,7.77-.52,2.69.16,6.76.41,7-.12s-1.83-4.54-3.56-7.66c-2.95-5.29-4.27-7.87-3.62-8.61s3.08.13,8.22,2c2.87,1,6.8,2.48,7.32,2.08a16.5,16.5,0,0,0,.07-3.89c-.11-3-.11-4.23.33-4.49a17.66,17.66,0,0,0,1.16-3.55c.73-2.69,1.1-3.89,1.51-4.08.69-.32,2.24,1,5.63,4,1.77,1.57,4.44,3.93,4.93,3.8a15.28,15.28,0,0,1,1.84,0c.63,0,1.42,0,1.54,0,.64-.14,2.21-4.09,3.36-7C51.53,2.52,52.64,0,53.59,0a13.66,13.66,0,0,1,3.19,1.58,23.6,23.6,0,0,0,2.63,1.36L60.53,3c2.1.16,4.18.32,4.51.37C66,3.54,66.3,6,66.79,11.25c.27,2.89.64,6.86,1.22,7.08s3.24-1.65,5.09-2.85c3.58-2.33,5.22-3.33,5.83-3,.91.54.12,3.72-1.23,8.86-.83,3.15-2,7.45-1.45,8a13.8,13.8,0,0,0,1.61.07c1.44,0,1.85.05,2,.23a15.85,15.85,0,0,0,3.67-.1c2.8-.23,4-.29,4.26.1s3.85.5,6.42.54c4.69.08,6.94.19,7.29.89.43.85-1.41,2.86-5.42,6.92-2.26,2.29-5.36,5.44-5.2,6.14.16.37,2.55,1.24,4.13,1.82,3.19,1.16,4.6,1.74,4.66,2.34a17.4,17.4,0,0,0,2.63,2.6c2.08,1.87,3,2.73,3,3.2,0,.95-2.83,1.92-8.82,3.77-3.26,1-7.73,2.38-7.87,3a16.42,16.42,0,0,0,1.91,2.23c1.71,1.84,2.16,2.39,2,2.75s2.14,3,3.76,4.84c3,3.37,4.23,4.92,3.93,5.53-.19.37-1.17.64-4.24,1.33a21.14,21.14,0,0,0-3.72,1c-.4.66-2.59.14-7.47-1.22-2.51-.7-6.29-1.76-6.71-1.41-.64.72,2,6.37,4.17,10.9,3.54,7.5,5.09,11.1,4,11.75-.42.24-5,2.73-5.46,2.94-.24.12-1.59.58-3.48,1.22-1.09.36-2.11.7-2.29.78-.74.31-2.49-1.31-6.34-5.09-2.12-2.08-5-4.93-5.59-4.83a18.74,18.74,0,0,0-1.73,3.76c-1.28,3.2-1.76,4.2-2.23,4.25s-1.8,2.14-2.84,3.62C54.3,108.08,53.37,109.33,52.84,109.33Z");
}

#shape-6 path {
    opacity: 1;
    transition: opacity 800ms ease-in-out;
    d: path("M51.18,105.4c-1.83,0-4-3.83-6.23-7.86-1.71-3.05-3.48-6.2-4.7-6.64a7.41,7.41,0,0,1-1.69-1.6,8.82,8.82,0,0,0-1.38-1.37c-.41-.18-1.78.39-2.88.86-1.74.73-2.83,1.16-3.35.84a8.3,8.3,0,0,0-2.52-.12c-1.59,0-2.58,0-3-.23s-.74-1.36-1.23-3.07a9.44,9.44,0,0,0-1-2.63c-.24-.21-.9-1-1.54-1.7l-1-1.08a12.44,12.44,0,0,0-1.82-1,10.21,10.21,0,0,1-2.17-1.29c-.56-.66.06-2.34.77-4.3.56-1.52,1.19-3.24.88-3.77a8.34,8.34,0,0,0-2.32-1.28c-1.52-.7-2.46-1.16-2.68-1.61a11.72,11.72,0,0,0-3-2.16c-1.68-1-3.26-2-3.49-2.68-.13-.42.19-1.3.73-2.7a7.64,7.64,0,0,0,.69-2.29c-.18-.83-2-2.55-3.83-4.2C2.2,51.32,0,49.28,0,48.09c0-.76,1.58-1.63,4.17-3,1.64-.85,3.67-1.9,3.75-2.43a13.31,13.31,0,0,0-1.41-3.38c-1-2.08-1.65-3.39-1.51-3.9.27-1,2.65-1.18,6.55-1.34,2.63-.1,5.61-.22,6-.93s-1-4.09-2.29-7c-1.91-4.28-3-6.94-2.26-7.81s3.23-.19,7.32.89c2.75.73,5.86,1.56,6.53,1.05.32-.23.4-2.06.46-3.39.1-2.2.19-3.57.69-3.86A11,11,0,0,0,29.28,10c.7-2,1.16-3.26,1.63-3.48.78-.36,2.51.86,5.26,2.9,1.88,1.39,4,3,4.66,2.8a12.42,12.42,0,0,1,1.65-.08c.58,0,1.25,0,1.39-.05.83-.18,2.3-3.11,3.6-5.69,2-3.87,3.32-6.41,4.44-6.4a12.15,12.15,0,0,1,2.93,1.28,15.92,15.92,0,0,0,2.42,1.11l.91.07c1.4.11,3.74.29,4.19.36C63.43,3,64,5.39,64.75,9.35c.51,2.63,1.09,5.62,1.86,5.92.59.22,2.78-.95,4.72-2,2.86-1.54,4.65-2.43,5.35-2,1,.6.64,3.33-.08,7.76-.48,3-1,6.35-.36,7a6.39,6.39,0,0,0,1.44.2c1.07.09,1.57.14,1.74.33s2,.27,3.24.27c2.08,0,3.37,0,3.71.45s3.15.84,5.55,1.08c3.64.37,5.88.65,6.28,1.46.5,1-1.15,3.15-3.94,6.56-1.9,2.33-4.05,5-3.84,5.87.11.46,1.94,1.32,3.41,2,2.33,1.09,3.75,1.8,3.81,2.48a11.55,11.55,0,0,0,2.13,2.52c1.5,1.54,2.41,2.51,2.41,3,0,1.11-2.71,2.28-7.16,4.07-2.92,1.17-6.24,2.51-6.43,3.32A9,9,0,0,0,90,61.8c1.17,1.46,1.67,2.14,1.55,2.53-.18.56,1.45,2.75,2.76,4.51,2,2.7,3.21,4.39,2.86,5.09-.22.44-1.51.83-3.59,1.44a12.28,12.28,0,0,0-3.17,1.16c-.48.76-2.76.4-6.47-.3-2.4-.45-5.4-1-5.85-.51-.82.91.85,5.51,2.33,9.57,2.14,5.9,3.35,9.54,2.06,10.29-.51.3-4.36,2.37-4.87,2.63-.31.16-1.74.65-3.13,1.13-.92.32-1.8.62-2,.71-.84.36-2.78-1.19-5.89-3.79-2.13-1.78-4.57-3.79-5.25-3.64-.35.08-1.21,1.82-1.84,3.1-1,2.11-1.7,3.4-2.26,3.46s-1.72,1.65-2.77,2.94C52.83,104.16,51.78,105.4,51.18,105.4Z");
}

#shape-7 path {
    opacity: 1;
    transition: opacity 800ms ease-in-out;
    d: path("M49.52,101.47c-2.12,0-4.55-3.2-6.9-6.28-1.87-2.44-3.63-4.75-5-5.27a7.35,7.35,0,0,1-1.65-1.35,7.9,7.9,0,0,0-1.37-1.17,5.86,5.86,0,0,0-2.75.36c-1.29.34-2.51.67-3.12.3a7.48,7.48,0,0,0-2.31-.36,6.63,6.63,0,0,1-2.67-.48,7.53,7.53,0,0,1-1.41-2.69,8.22,8.22,0,0,0-1.14-2.32c-.27-.25-.91-.95-1.47-1.57-.36-.41-.7-.79-.87-1a11.48,11.48,0,0,0-1.62-1.05,9.87,9.87,0,0,1-1.93-1.3c-.61-.72-.31-2.31,0-4,.28-1.41.56-2.88.16-3.53a7.07,7.07,0,0,0-2-1.43,6.57,6.57,0,0,1-2.28-1.72,10,10,0,0,0-2.51-2.27c-1.32-1-2.68-2-2.92-2.8a5.91,5.91,0,0,1,.4-2.52,6.71,6.71,0,0,0,.4-2.19c-.21-1-1.56-2.54-3-4.2C1.8,50.66,0,48.56,0,47.2c0-.89,1.55-2,3.19-3.1,1.37-1,2.78-1.94,2.89-2.6a10.6,10.6,0,0,0-1-3.11c-.6-1.51-1.16-2.93-1-3.55.33-1.2,2.77-1.67,5.35-2.16,2.19-.42,4.45-.85,4.89-1.72s-.27-3.68-1-6.26c-.91-3.09-1.78-6-.87-7s3.55-.6,6.42-.22c2.42.32,4.92.65,5.74,0,.4-.3.63-1.67.83-2.89.25-1.49.48-2.9,1.06-3.24A8.19,8.19,0,0,0,28,8.79c.61-1.35,1.2-2.62,1.75-2.88.91-.42,2.85.67,4.91,1.82,1.75,1,3.56,2,4.37,1.8a9.56,9.56,0,0,1,1.46-.11c.52,0,1.06-.05,1.24-.09,1-.22,2.44-2.35,3.83-4.4C47.25,2.39,48.87,0,50.22,0a10.71,10.71,0,0,1,2.67,1,12.46,12.46,0,0,0,2.23.85l.64,0c1.17.1,3.36.28,3.91.36,1.28.2,2.14,2.63,3,5.21.76,2.16,1.55,4.39,2.48,4.75.74.28,2.57-.43,4.35-1.11,2.08-.81,4-1.57,4.88-1.07,1.21.71,1.15,3.61,1.09,6.68,0,2.57-.1,5.23.7,6a4.3,4.3,0,0,0,1.27.33,3.18,3.18,0,0,1,1.48.43c.32.35,1.64.5,2.8.63,1.43.16,2.78.31,3.16.81.52.69,2.64,1.16,4.68,1.62,2.47.55,4.8,1.07,5.29,2,.6,1.2-.89,3.64-2.47,6.22C91.08,37,89.7,39.26,90,40.36c.14.58,1.43,1.4,2.68,2.2,1.49.94,2.9,1.84,3,2.63a8.4,8.4,0,0,0,1.63,2.44c.94,1.16,1.83,2.26,1.83,2.88,0,1.33-2.68,2.81-5.51,4.38-2.33,1.3-4.74,2.63-5,3.62-.07.32.51,1.25,1,2,.73,1.15,1.16,1.88,1,2.3-.22.7.79,2.47,1.78,4.18,1.13,2,2.19,3.82,1.79,4.64-.25.5-1.56,1-3,1.57a8.55,8.55,0,0,0-2.63,1.3c-.55.9-2.94.76-5.46.62-2.17-.12-4.42-.25-5,.37-1,1.1-.23,4.71.5,8.21.86,4.1,1.66,8,.11,8.87-.57.34-3.68,2-4.29,2.32-.36.18-1.65.64-2.78,1L70,96.57c-1,.42-3.16-1-5.46-2.5-2-1.29-4-2.62-4.89-2.44-.46.1-1.24,1.34-1.94,2.43-.85,1.35-1.66,2.62-2.3,2.69S53.71,98,52.69,99C51.42,100.27,50.22,101.48,49.52,101.47Z");
}

#shape-8 path {
    opacity: 1;
    transition: opacity 800ms ease-in-out;
    d: path("M47.86,97.54c-2.47,0-5.16-2.42-7.75-4.75-1.88-1.68-3.66-3.27-5.22-3.84a7.45,7.45,0,0,1-1.62-1.11,7.76,7.76,0,0,0-1.36-1,6.37,6.37,0,0,0-2.58-.14,5.74,5.74,0,0,1-2.93-.25,7.4,7.4,0,0,0-2.07-.59,7.09,7.09,0,0,1-2.4-.74,8.09,8.09,0,0,1-1.6-2.32,8.53,8.53,0,0,0-1.3-2c-.32-.29-.91-.92-1.43-1.48-.3-.32-.57-.62-.75-.8a11.15,11.15,0,0,0-1.4-1,10.31,10.31,0,0,1-1.7-1.32c-.69-.81-.73-2.28-.78-3.71a7.33,7.33,0,0,0-.53-3.27,7.85,7.85,0,0,0-1.65-1.54,7,7,0,0,1-1.9-1.85,10.45,10.45,0,0,0-2-2.35,9.6,9.6,0,0,1-2.37-3,6.26,6.26,0,0,1,.08-2.37,6.84,6.84,0,0,0,.11-2A15.89,15.89,0,0,0,2.57,52C1.3,50,0,47.88,0,46.31c0-1,1.12-2.14,2.21-3.26.93-1,1.89-2,2-2.75a9.4,9.4,0,0,0-.48-2.8,8.3,8.3,0,0,1-.48-3.22c.36-1.34,2.29-2.2,4.16-3,1.61-.72,3.28-1.47,3.8-2.47.59-1.17.38-3.37.18-5.5-.24-2.53-.49-5.15.54-6.33s3.29-1.23,5.57-1.37c1.94-.12,3.95-.25,4.89-1a5.83,5.83,0,0,0,1.2-2.37C24,11.14,24.42,10,25,9.62a7.23,7.23,0,0,0,1.6-2,6.64,6.64,0,0,1,1.88-2.28c1-.48,2.84.13,4.59.72,1.53.52,3.11,1,4.06.8a11,11,0,0,1,1.28-.14c.43,0,.87-.08,1.07-.12,1.16-.25,2.54-1.64,4-3.1C45.24,1.76,47,0,48.53,0A10.24,10.24,0,0,1,51,.68a10.18,10.18,0,0,0,2,.59l.16,0c.94.08,3.12.26,3.85.37,1.43.22,2.62,2.1,3.76,3.92,1,1.54,2,3.13,3.06,3.56.85.32,2.42,0,3.93-.26,1.73-.32,3.52-.67,4.45-.12,1.36.81,1.84,3.27,2.3,5.65.39,2,.8,4.09,1.73,5a3.31,3.31,0,0,0,1.08.45,3.42,3.42,0,0,1,1.22.54,6,6,0,0,0,2.36,1,5.61,5.61,0,0,1,2.63,1.18c.6.8,2.21,1.47,3.78,2.12,1.85.77,3.77,1.57,4.31,2.66.68,1.36-.16,3.69-1,5.95-.7,1.92-1.43,3.92-1.13,5.18a6.6,6.6,0,0,0,2,2.37c1,.95,2,1.93,2.13,2.8A7.82,7.82,0,0,0,94.69,46a7,7,0,0,1,1.24,2.75c0,1.49-2,3.14-3.87,4.74-1.59,1.33-3.23,2.71-3.49,3.86a4.21,4.21,0,0,0,.52,1.88,3.84,3.84,0,0,1,.52,2.09c-.26.82.27,2.34.79,3.8.57,1.64,1.17,3.33.72,4.24A6.33,6.33,0,0,1,88.8,71a6.9,6.9,0,0,0-2.08,1.44c-.62,1-2.58,1.28-4.49,1.56-1.68.25-3.42.5-4.07,1.23C77,76.52,77,79.33,76.91,82.06c-.08,3.18-.15,6.47-1.91,7.51-.67.39-3,1.65-3.71,2-.42.22-1.5.62-2.46,1l-1.4.54c-1.11.48-3.12-.37-5.06-1.2-1.71-.72-3.48-1.47-4.5-1.24-.55.12-1.3.95-2,1.75s-1.66,1.83-2.35,1.91a7.53,7.53,0,0,0-2.6,1.54C49.79,96.69,48.63,97.55,47.86,97.54Z");
}

#shape-9 path {
    opacity: 1;
    transition: opacity 800ms ease-in-out;
    d: path("M46.2,93.62c-3.09,0-6.25-1.73-9.31-3.38A36.78,36.78,0,0,0,32.21,88a9.29,9.29,0,0,1-1.64-.89,13.89,13.89,0,0,0-1.29-.72A11,11,0,0,0,27,85.75a8.62,8.62,0,0,1-2.82-.84,13.27,13.27,0,0,0-1.78-.78,10.14,10.14,0,0,1-2.19-1,11.51,11.51,0,0,1-1.86-2,12.28,12.28,0,0,0-1.39-1.6c-.41-.38-1-1-1.51-1.51l-.51-.52a14.1,14.1,0,0,0-1.14-1,14.29,14.29,0,0,1-1.52-1.39,10.33,10.33,0,0,1-1.64-3.58,13.55,13.55,0,0,0-1.14-2.86A11.59,11.59,0,0,0,8.18,67a9.79,9.79,0,0,1-1.55-2,17.36,17.36,0,0,0-1.45-2.29,13.34,13.34,0,0,1-1.89-3.26A8.72,8.72,0,0,1,3,57.15a12.27,12.27,0,0,0-.16-1.85,28,28,0,0,0-1.24-3.68A18.6,18.6,0,0,1,0,45.43,8.6,8.6,0,0,1,1.25,41.9a9.85,9.85,0,0,0,1.13-2.79,12.42,12.42,0,0,0,0-2.43,9.89,9.89,0,0,1,.05-3c.42-1.56,1.76-2.84,3.06-4.08a12.85,12.85,0,0,0,2.61-3.05,18.16,18.16,0,0,0,1.28-4.5c.43-2.19.87-4.45,2.08-5.85,1.08-1.25,3-2,4.89-2.65a15.54,15.54,0,0,0,3.88-1.81A8.26,8.26,0,0,0,21.73,10a7.07,7.07,0,0,1,1.85-2.06,9.37,9.37,0,0,0,1.68-1.48A8.3,8.3,0,0,1,27.33,4.7a10.09,10.09,0,0,1,4.41-.4,13.12,13.12,0,0,0,3.6-.16c.28-.07.71-.13,1.12-.19s.67-.09.89-.14a15.88,15.88,0,0,0,3.94-1.76C43.15,1,45.06,0,46.84,0A11.65,11.65,0,0,1,49.1.39a14.17,14.17,0,0,0,1.73.33c.88.07,2.59.23,3.46.37C56,1.34,57.49,2.58,59,3.78A13.68,13.68,0,0,0,62.4,6.07a13,13,0,0,0,3.38.56,10.17,10.17,0,0,1,4.15.88c1.6,1,2.68,2.9,3.72,4.79a16.33,16.33,0,0,0,2.54,3.8,4.56,4.56,0,0,0,.89.57,4.9,4.9,0,0,1,1,.65,8.67,8.67,0,0,0,1.86,1.3,7.26,7.26,0,0,1,2.14,1.58,14.68,14.68,0,0,0,2.78,2.48,11.58,11.58,0,0,1,3.45,3.42c.8,1.59.68,3.79.57,5.92A17.47,17.47,0,0,0,89,36.58,9.77,9.77,0,0,0,90.19,39a8.24,8.24,0,0,1,1.34,3.06,9.86,9.86,0,0,0,.61,2.16,8.83,8.83,0,0,1,.67,2.68c0,1.73-1.16,3.54-2.27,5.29a14.36,14.36,0,0,0-2,3.92,5.36,5.36,0,0,0,.06,1.72,4.92,4.92,0,0,1,0,1.91,10.52,10.52,0,0,0-.18,3.33A8.51,8.51,0,0,1,88.08,67a7.65,7.65,0,0,1-1.72,1.85,8.2,8.2,0,0,0-1.5,1.55c-.71,1.13-2.18,1.88-3.6,2.6a10.92,10.92,0,0,0-3.09,2,18.06,18.06,0,0,0-2.74,5.12c-1,2.55-2.11,5.18-4.19,6.4-.73.42-2.33,1.3-3.13,1.7-.51.26-1.43.63-2.24.95l-1,.41c-1.27.54-3.07.33-4.81.13a13.27,13.27,0,0,0-3.95-.09,7.34,7.34,0,0,0-2.07,1,6.63,6.63,0,0,1-2.45,1.16,9.21,9.21,0,0,0-2.43.83A8.57,8.57,0,0,1,46.2,93.62Z");
}

#shape-10 path {
    opacity: 1;
    transition: opacity 800ms ease-in-out;
    d: path("M0,45a45,45 0 1,0 90,0a45,45 0 1,0 -90,0");
}


/******** CREDITS PAGE  ***********/

.credits-body {
    opacity: 1;
    transition: 0.7s opacity;
}

.credits-body.fade {
    opacity: 0;
    transition: none;
}

#thumbnail-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(4rem, 1fr));
    grid-auto-rows: 1fr;
    gap: 0.1em 0.1em;
  }
  
  #thumbnail-container::before {
    content: '';
    width: 0;
    padding-bottom: 100%;
    grid-row: 1 / 1;
    grid-column: 1 / 1;
  }
  
  #thumbnail-container > *:first-child {
    grid-row: 1 / 1;
    grid-column: 1 / 1;
  }
  
  /* Just to make the grid visible */
  
  #thumbnail-container > * {
    background: rgba(0,0,0,0.1);
    border: 1px white solid;
  }

#credits-wrapper {
    height: 100%;
    display: grid;
    align-items: center;
    grid-template-rows: max-content 1fr max-content 1fr;
}

.credits-title {
    font-size: var(--font-size-l);
}

.credits-paragraph > a {
    color: white;
}

.credits-paragraph > a:hover {
    color: var(--bg-clr);
    background-color: white;
}