doctype
html
    head
        title="A story of our idea of an object"
        link(rel="stylesheet", href="css/story-final.css")
        
    body
        <div class="story-wrapper">
            <h1>THE RELATIVITY OF CLASSIFICATION</h1>
            <div class="image-display">
                <img class="image-container" src="">
            </div>
            <p class="narrative-text">By naming things in relation to one another, we were able to draw comparisons between them.</p>
            <footer>
                <p>THIS PROJECT IS PART OF A BIGGER NARRATIVE</p>
            </footer>
        </div>

        script
            include presentation.js